.dropshadow{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.rambow_gradient{
    /* background: radial-gradient(circle farthest-corner at 10% -10%,#9E009E 0%, #3f0495 50%); */
    background: linear-gradient(#110732 -20%, #29ABE0 50%, #29ABE0 60%, #1FA178 100%);
    /* background-size: 300%; */
}

.rounded-top-2{
    border-radius: 10px 10px 0 0;
}

.rating_area .fa-star{
    font-size: 10px;
    color: rgb(200,200,200);
    line-height: 12px;
}

.rating_area .review_no{
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid white;
    color: white;
    font-size: 12px;
    line-height: 12px;
}

.rating_area .online_state{
    font-size: 10px;
    color: white;
}


